* {
    font-family: 'Manrope', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-around;
    margin: 15px;
    font-size: 17px;
    font-weight: lighter;
}

body {
    background-image: linear-gradient(to left ,rgba(13,236,188,0.6),rgba(14,153,123,0.6)) ,  url(./assets/img/wes-hicks-4-EeTnaC1S4-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

a {
    text-decoration: none;
}

.header-nav-container {
    display: flex;
    gap: 30px;
    align-items: center;   
}

.header-links {
    color: white; 
}

.section-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top:210px ;
}

.sec-title {
    font-size: 45px;
    letter-spacing: 2px;
    line-height: 1.2em;
    color: white;
    font-weight:900;
}

.sec-desp {
    color: white;
    font-size: 15px;
    text-align: center;
    font-weight: lighter;
    line-height: 1.7em;
}

.sec-btn {
    color: #1ADCB2;
    background-color: white;
    padding: 10px 40px;
    font-size: 17px;
    border: 2px solid white;
    border-radius: 25px;
    margin-top: 20px;
    cursor: pointer;
}
